body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Product Sans Regular', Sans-Serif;
}

.progress-info {
  text-align: left;
  margin-top: 10px;
  width: 95%;
  margin: 0 auto;
  font-size: 150%;
  color: #1a1818;
  margin-left: 0%;
}

.progress-container {
  width: 100%;
  background: #0000002c;
  height: 48px;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 48px;
  width: 95%;
  background: #747474;
  transition: width 0.5s ease-in-out;
  color: #333;
  
}

.extra-info {
  text-align: left;
  margin-top: 10px;
  width: 95%;
  margin: 0 auto;
  padding-top: 10%;
  color: #333;
  margin-left: 0%;

}

/* Highlighted percentage */
.extra-info span {
  color: #ff9800;
  font-weight: bold;
}

#screenshot-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #fff;
  background-color: #007bff;
}

#screenshot-btn:hover {
  opacity: 0.9;
}


#screenshot-btn:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}
#screenshot-btn:disabled {
  background-color: #e0e0e0;
  color: #b0b0b0;
  cursor: not-allowed;
  box-shadow: none;
}

@media (min-width: 768px) {
  #screenshot-btn {
    font-size: 18px;
  }
}

#capture-area {
  display: inline-block;
  padding: 40px;
  padding-bottom: 80px;
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
}

.marker {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}
/* 
.today-marker {
  background-color: #ff9800;
  width: 3px;
  z-index: 10;
  transition: left 0.5s ease-in-out;
} */

.controls {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

#toggle-info-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #fff;
  background-color: #6c757d;
}

#toggle-info-btn:hover {
  opacity: 0.9;
}

.hidden {
  display: none !important;
}